$near-black: rgb(12, 12, 12);
$dark-red: rgb(87, 0, 0);
$blue: rgb(0, 37, 105);
$yellowish: rgba(204, 189, 57, 0.5);
$gold: rgb(117, 89, 17);

header.header {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $dark-red;
  box-shadow:
    inset 0 0 2rem 1rem rgb(34, 10, 15),
    0 1rem 3rem 0.5rem rgb(56, 7, 7);
  margin: 0;
  margin-bottom: 4rem;

  h1.main-title {
    font-size: 4rem;
  }
}

body {
  background: $near-black;
  padding: 0;
  margin: 0;

  * {
    text-shadow: 0 0 0.5rem white;
    font-family: "MedievalSharp", serif;
    font-weight: 400;
    font-style: normal;
  }
}

button.friendly {
  box-shadow: inset 0 0 1rem 1rem $blue;
}

button.hostile {
  box-shadow: inset 0 0 1rem 1rem $dark-red;
}

.buttons-top,
.buttons-bottom {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .outside-btn {
    padding: 1rem;
  }
  button.add-btn {
    width: 7rem;
    font-size: 6rem;
    border-radius: 12rem;
  }
  button {
    background: rgb(20, 20, 20);
    font-size: 3rem;
    margin: 2rem;
    transition: 0.1s;
    border-radius: 10%;

    &:hover {
      cursor: pointer;
      filter: brightness(0.8);
    }
  }
}

.embedded-button,
.visible-button {
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 3rem;
  border: none;
  outline: none;
  background: none;
  width: 3.5rem;
  // height: 3.5rem;
  transition: 0.3s;
  opacity: 0;
  z-index: 2;
  cursor: pointer;

  img {
    width: 100%;
    height: 100%;
  }
}

button.visible-button {
  opacity: 1;
  margin: 1.5rem;
  border-style: outset;
  border-color: buttonborder;
  outline: default;
  border-radius: 100%;
  background: grey;
  padding: 1rem;
  display: flex;
  width: 6rem;

  img {
    padding: 0;
    margin: 0;
  }

  &:hover {
    filter: brightness(0.8);
  }
}

button {
  &.red {
    background: $dark-red;
    color: crimson;
    border-color: rgb(133, 21, 21);
  }

  &.blue {
    color: cyan;
    background: $blue;
    border-color: rgb(18, 18, 136);
  }
}

.item:has(.embedded-button) {
  &:hover {
    .embedded-button {
      opacity: 1;
    }
  }
}

.search-list {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  border: 1px solid #d3d3d3;
  background: rgb(24, 24, 24);
  box-sizing: border-box;
  display: none;
  z-index: 2;
  max-height: 50vh;

  .monsters {
    width: 100%;
    overflow: hidden;
    overflow-y: auto;
    list-style: none;
    font-size: 2.5rem;
    padding: 1.5rem;

    li {
      width: 100%;
      height: 4.5rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding-left: 1rem;
      cursor: pointer;
      border-bottom: 1px solid #d3d3d3;

      &:hover {
        background: rgb(48, 48, 48);
      }
    }
  }
}

* {
  scrollbar-width: 1rem;
  scrollbar-color: #131212 #000000;
}

::-webkit-scrollbar {
  width: 1rem;
  background: #000000;
}

::-webkit-scrollbar-thumb {
  background: #131212;
}

:root {
  font-size: 62.5%;
}

* {
  color: white;
}

.tracker-base {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creature-board {
  width: 90vw;
  height: auto;
  font-size: 2rem;

  .creature {
    width: 100%;
    height: 10rem;
    border: 0.3rem solid rgb(124, 124, 124);
    box-sizing: border-box;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &.current {
      position: relative;
      transform: scale(1.1);
      z-index: 50;
    }

    .init {
      width: 20%;

      input {
        width: 15rem;
      }
    }

    .name {
      width: 22.5%;

      input[type="text"] {
        font-size: 2.5rem;
      }
    }

    .hp {
      width: 27.5%;
    }

    .ac {
      width: 15%;
    }

    .mng {
      width: 15%;
    }

    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      padding: 0;
      margin: 0;
    }

    &.friendly {
      > .item {
        box-shadow: inset 0 0 2.5rem 2rem $blue;
      }
    }

    &.hostile {
      > .item {
        box-shadow: inset 0 0 2.5rem 2rem $dark-red;
      }
    }

    .item {
      height: 100%;
      border: 0.5rem solid rgb(100, 100, 100);
      box-sizing: border-box;
      box-shadow: inset 0 0 1.2rem 1rem rgb(43, 43, 43);

      .numbers {
        position: relative;
        z-index: 2;
      }

      .bar {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgb(15, 15, 15);
        box-shadow: inset 0 0 0.8rem 0.5rem black;
      }

      .barFill {
        transition: 0.4s ease-out;
        width: 100%;
        height: 100%;
        background: rgb(83, 20, 23);
        background: linear-gradient(
          90deg,
          rgb(83, 20, 23) 0%,
          rgb(88, 56, 59) 10%,
          rgb(73, 28, 30) 25%,
          rgb(83, 20, 23) 100%
        );
        animation-name: HealthBar;
        animation-duration: 8s;
        background-size: 200% 200%;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        box-shadow: inset 0 0 0.8rem 0.5rem $dark-red;
        position: absolute;
        left: 0;
      }

      .hp-num {
        width: 12rem;
      }

      &.name input {
        width: 24rem;
      }

      input {
        background: none;
        outline: none;
        border: none;
        font-size: 3.5rem;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        text-align: center;
        margin-left: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 1100px) {
  :root {
    font-size: 50%;
  }
}

@media only screen and (max-width: 800px) {
  :root {
    font-size: 37.5%;
  }
}

@media only screen and (max-width: 550px) {
  :root {
    font-size: 32.5%;
  }
  .creature-board {
    .creature {
      height: 18rem;
      word-wrap: break-word;
      .item {
        flex-wrap: wrap;

        &.init {
          width: 23vw;
        }

        &.name {
          width: 40vw;
        }

        &.hp {
          width: 25vw;
        }

        &.ac {
          width: 12vw;
          display: block;
          font-size: 2.5rem;
          padding: 2rem;
        }
      }
    }
  }
}

.round-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .counter {
    font-size: 3.5rem;
    margin: 2rem;
  }

  > button.embedded-button {
    opacity: 1;
  }
}

@keyframes HealthBar {
  0% {
    background-position: 250% 50%;
  }
  30% {
    background-position: 0% 50%;
  }

  30%,
  100% {
    background-position: 50% 50%;
  }
}
