$grey: rgb(22, 22, 22);
$dark-red: rgb(34, 12, 12);
$blue: rgb(19, 47, 99);
body {
  background: black;
  overflow: hidden;
}

:root {
  font-size: 62.5%;
}

* {
  color: white;
}

.hostile {
  background: $dark-red;
}

.friendly {
  background: $blue;
}

.tracker-base {
  background: $grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.creature-board {
  width: 100%;
  height: auto;
  border: 0.2rem solid white;
  font-size: 2rem;

  .creature {
    width: 100%;
    height: 10rem;
    border: 0.3rem solid silver;
    box-sizing: border-box;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .item {
      display: flex;
      height: 100%;
      border: 0.5rem solid white;
      box-sizing: border-box;
      padding: 0.5rem;

      .numbers {
        position: relative;
        z-index: 2;
      }

      .bar {
        width: 40rem;
        height: 100%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .barFill {
        width: 100%;
        height: 100%;
        background: rgb(71, 1, 50);
        position: absolute;
      }

      input[type="number"] {
        width: 6rem;
      }

      &.name input {
        width: 24rem;
      }

      input {
        background: none;
        outline: none;
        border: none;
        font-size: 3.5rem;
        font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        text-align: center;
        margin-left: 1rem;
      }
    }
  }
}
